
/* assets */
@import "./assets/_color.css";


/* components */
@import "./components/text.css";
@import "./components//nav.css";


/* pages */
@import "./pages/home.css";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}