.navContainer{
    width: 100%;
    position: fixed;
    height: 34px;
    border-bottom: 2px solid black;
    background: white;
    z-index: 1;
}

.navTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
}

.backBtn{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

}