.text_infoWrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    
}

.text_title{
    font-size: 20px;
    font-weight: 600;
}

.text_infoWrapper > div:last-child{
    font-size: 15px;;
}

.text_explainWrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.text-ref{
    color: orange;
    font-weight: 600;
    font-size: 16px;
}
.text_refContainer{
    margin-top: 30px;;
}
.text_refWrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

